@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
.menu-navigation-dark {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0;
    text-align: center;
    display: inline-block;
}

.menu-navigation-dark a {
    display: inline-block;
    color: #ffffff;
    background-color: #232526;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid #161718;
    border-top: none;
    width: 136px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
}

.menu-navigation-dark a:hover {
    background-color: #27292a;
}

.menu-navigation-dark a:first-child{
    border-left: 1px solid #161718;
}

.menu-navigation-dark a:not(.selected) {
    box-shadow:	1px 3px 5px 0 rgba(0, 0, 0, 0.26),
    inset 1px 0 0 #323435,
    inset 0 1px 0 #282a2b,
    inset 0 -1px 0 #282a2b;
}

.menu-navigation-dark a:last-child {
    box-shadow:	1px 3px 5px 0 rgba(0, 0, 0, 0.26),
    inset 1px 0 0 #323435,
    inset -1px 0 0 #282a2b,
    inset 0 1px 0 #282a2b,
    inset 0 -1px 0 #282a2b;
}

.menu-navigation-dark a i {
    display: block;
    line-height: 1.3;
}
.prof_pics {
  line-height: 1.3;
  border-radius: 50%;
  height: 45px;
  width: 50px;
}
.logo{
  height: 150px;
  width: 60%;
  display: inline-block;
}
.menu-navigation-dark a span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.menu-navigation-dark a.selected {
    background-color: #1d1e1f;
    border-bottom: 2px solid #4a9fda;
}

.menu-navigation-dark a.selected i {
    color: #4a9fda;
}

/* Make this page responsive */

.slicknav_menu {
    display:none;
}

@media (max-width: 800px) {
    .menu-navigation-dark{
        display:none;
    }

    .slicknav_nav a i {
        display: none;
    }

    .slicknav_menu {
        display:block;
    }
}


html{
	background-color: #efefef;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}

.menu{
	text-align: center;
	padding-top: 25px;
	margin-bottom:200px;
}

.menu .arrow{
	opacity: 0.4;
}

.menu h1{
	margin-top:0;
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

.menu h2{
	color: #F05283;
}

.menu h2 a{
	color:inherit;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #F05283;
	padding: 10px 15px;
	border-radius: 3px;
	font: bold 14px/1 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.menu h2 a:hover{
	background-color:#F05283;
	transition:0.2s;
	color:#fff;
}

.menu ul {
	max-width: 600px;
	margin: 60px auto 0;
}

.menu ul a{
	text-decoration: none;
	color: #FFF;
	text-align: left;
	background-color: #B9C1CA;
	padding: 10px 16px;
	border-radius: 2px;
	opacity: 0.8;
	font-size: 16px;
	display: inline-block;
	margin: 4px;
	line-height: 1;
	outline: none;

	transition: 0.2s ease;
}

.menu ul li a.active{
	background-color: #66B650;
}

.menu ul li a:hover {
	opacity: 1;
}

.menu ul{
	list-style: none;
	padding: 0;
}

.menu ul li{
	display: inline-block;
}

@media (max-height:800px){
}



[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

#login {
  margin: 100px auto;
  width: 320px;

}

#login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#logout :hover {
  background: #16aa56;
}
#logout {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: #16aa56;
}

@media (max-width: 900px) {

	.menu {
		padding-top:40px;
		margin-bottom: 80px;
	}

}
.logo_login_signup {
  margin-left: 25%;
  margin-right: 25%;

}
.login_signup {
  background-color: black;
}
footer {
  bottom: 0;
  background-color: black;
}
.dark_links {
  color: gray;
}
#usertype {
  background-color: white;
}
.radios {
  background-color: red;
  font-size: 2em;

}
input[type="radio"]{
    -webkit-appearance: radio;
}
